/data/MIT-BIH Record 100 (V5)/
/data/MIT-BIH Record 234 (V1)/
/data/NAB Twitter vol. AMZN/
/data/Synthetic time series 1/
/data/Synthetic time series 2/
/data/Synthetic time series 3/
/data/Synthetic time series 4/